*{
    margin: 0%;
    padding: 0%;
}

html{
    overflow-x: hidden;
}

.main{
    background-color: azure;
}

/* NAVBAR CSS */
    
        .container1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            padding-top: 20px;
            padding-bottom: 10px;
            margin-bottom: 50px;
            /* background-color: #18122B;
            color: #FDF4F5; */
        }

        .container2{
            display: flex;
            justify-content: end;
            gap: 20%;
        }

        .container1 ul{
            list-style: none;
            font-size: 120%;
        }

        #menuIcon{
            display: none;
        }
    
/* ------------------ */


/* Hero sectionnnn */
        .titleCon{
            display: flex;
            justify-content: space-around;
        }

        .titleCon img{
            /* height: 10%; */
            width: 35%;
            /* object-fit: cover; */
        }

        .texttitle{
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin-top: 100px;
            gap: 0px;
            padding-left: 30px;
        }

        .texttitle p{
            font-size: 20px;
        }

        .fontD{
            font-family: 'Sacramento';
            font-size: 120px;
            /* margin-top: 50px; */
        }

        #dev{
            margin-top: 7%;
            font-size: 70px;
        }


/* ----------------- */


/* SKILLS SECTION CSSS */

        .skillsSection{
            display: flex;
            margin-top: 3%;
            justify-content: center;
            background-color: white;
        }

        .mainCon{
            padding: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }

        .secondCon{
            display: flex;
            justify-content:space-around;
            margin: 60px;
        }

        .secondCon p{
            font-size: 20px;
            font-weight: 400;
            font-family: var(--bs-body-font-family);
        }

        .thirdCon{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
/* ------------- */


/* LAST SECTIONNN */

.lastSection{
    display: flex;
    justify-content: center;
    background-color: azure;
}

.lastMain{
    width: 80%;
    display: flex;
    justify-content: center;
}

.leftClass{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
}

.rightClass{
    margin: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30%;
}

.logoLink{
    display: flex;
    gap: 5%;
    align-items: center;
}

.sizer{
    font-size: 130%;
    font-weight: 400;
}

.leftClass button{
    width: 60%;
    margin-top: 7%;
    font-size: 140%;
}

.leftClass p{
    font-size: large;
}

@media(max-width:1000px){
    .container2{
        display: none;
    }

    #menuIcon{
        display: flex;
    }

    .title{
        font-size: 90px;
    }

    .titleCon{
        display: block;
    }

    .titleCon img{
        width: 100vw;
        padding: 30px;
    }

    .texttitle{
        margin: 0%;
        padding: 20px;
    }

    .lastSection{
        display: block;
    }

    .skillsSection{
        display: block;
    }
}